@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.favourite-places-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    

}

.favourite-places-mainheading {
    font-family: Roboto;
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding: 24px;
    text-align: center;
}

.favourite-places-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 30px 30px 30px 450px;
    width: 592px;
    height: 132px;
       
    
}

.favourite-places-card-heading {
    color: #040e46;
    font-family: Roboto;
    font-size: 23px;
    font-weight: bold;
}

.favourite-places-card-description {
    color: #6c6b70;
    font-family: Roboto;
    font-size: 13px;
}

.favourite-places-card-image {
    width: 80px;
    height: 100px;
   margin-left: 300px;
    
}